*
{
    padding: 0 !important;
    margin: 0 !important;
}
.maindiv,.sidebar
{
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
}

.arrow-icon-animation
{
    
    transition: all .2s linear;
transform: rotate(180deg);
}

.lang-list{
    display: none;
   transition: all .5s;
   cursor: pointer;
}
.lang-list-animation
{
    display: block;
    animation: move .3s linear;
}
@keyframes move {
    to
    {
transform: translateY(0px);

    }
    from
    {
        transform: translateY(40px);
    }
    
}
.lines
{
    height: 20%;
}
.menu-line
{
    height: 2px;
    width: 40px;
    background-color: wheat;

}

.menu-line2-animation
{
    display: none;
}
.menu-line1-animation
{
    transform:translateY(15px) rotate(-135deg);
    transition: all .3s;
}
.menu-line3-animation
{
    transform:translateY(9px) rotate(140deg);
    transition: all .3s;
}
.menu-items
{
    transition: all .3s;
}
.menu-items:hover
{
    cursor: pointer;
    color: #19729C;
}
.menu-item-items
{
    display: none ;
}
.menu-item-ani
{
    display: block !important;
}
.menu-item-items1
{
    display: none;
}

.sidebar
{
   
    transition: all 0.7s cubic-bezier(.02, .55, .83, .64);
    transform: translateX(-100%);
      
}
.sidebar-anim{
    transform: translateX(0%);
}

@media only screen and (max-width:950px)
{
    .lang-div
    {
        color:  black;
    }
    .textmain-div
    {
        
        text-align: center;
        width: 100%;
    }
    .textmain-div p
    {
        width: 100% !important;
    }
    .menu-lines-div
    {
        right: 90px;
        margin-bottom: 15px !important;

    }
    .sidebar-btns button
    {
        display: none;
    }

   .menu-items-div 
   {
    margin-bottom: 20px !important;
    margin-left: 20px !important;

   }
   .menu-item-home

   {
   
    margin-left: 20px !important;
   }
   .menu-ul-div .menu-ul
   {
    color: black !important;
   }
    
}